<%- include("header.ejs")%>
<%- include("nav.ejs")%>
<link rel="stylesheet" href="stylesheets/about.css">
<div class="detl">
    <div class="card2">
        <h1>About</h1>
        <p>An expenses tracker is a financial management tool designed to monitor, categorize, and analyze expenditures. <br> It empowers individuals and businesses to gain insight into their spending habits, allowing for informed financial decisions. <br> Users input income sources and record expenses, and the tracker generates comprehensive statements outlining budgets, <br>  actual spending, and net cash flow. Visual representations, such as graphs, offer a clear overview of financial patterns. <br> Customization features enable tailored analysis, and security measures ensure data privacy. <br> With the ability to track goals and set budgets, an expenses tracker is a valuable resource for fostering financial awareness, <br> optimizing budgets, and achieving long-term financial objectives.</p>
    </div>
    
    
</div>
<%- include("footer.ejs")%>
