<%- include("header.ejs")%>
<%- include("nav.ejs")%>
<link rel="stylesheet" href="stylesheets/contact.css">
<div class="fram">
    <div class="touch">
        <h1>Get in touch</h1>
    </div>
    <div class="contact">
       <h2>Address: <br> <input  placeholder="E3/45,3rd Floor,10 Cross Road Building  Arera Colony, Bhopal - 462016 India" name="address"></h2>

        <h2>Phone: <br>  <input  placeholder="+91-91091 41802" name="phone"><h2>

        <h2>Email: <br> <input  placeholder="projects@compositebuilding.in"></h2>
        <i class="ri-instagram-fill"></i>
        <i class="ri-facebook-circle-fill"></i>
        <i class="ri-customer-service-line"></i>
        <i class="ri-trademark-line"></i>
    </div>

</div>
<%- include("footer.ejs")%>
