<%- include("header.ejs")%>
<link rel="stylesheet" href="stylesheets/nav.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">

<div class="navbar">
  <div class="logo">
    <img src="https://cdn-icons-png.flaticon.com/512/5501/5501384.png" alt="">
  
    
  </div>
  <div class="nav">
    <a href="/">Home <i class="ri-home-fill"></i></a>
    &nbsp;&nbsp;&nbsp;
    <a href="/about">About <i class="ri-bubble-chart-line"></i></a>
    &nbsp;&nbsp;&nbsp;
    <a href="/contact">Contact us <i class="ri-contacts-fill"></i></a>
    <a href="/profile">Profile <i class="ri-account-pin-circle-fill"></i></a>
  </div>
</div>


<!-- <nav>
   <div class="navbar">
    <% if(!admin){ %>
         -->
        <!-- <a href="/">Home</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/about">About</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/contact">Contact us</a>
        &nbsp;&nbsp;&nbsp;
       
          -->
        <!-- <% } else { %> -->
        <!--  -->
        <!-- <a href="/profile">Home</a>
        <% } %>
        <nav> --> 
   <!-- </div> -->

 <%- include("footer.ejs")%>